.body {
    background-image: url("../assets/quaritsch-photography-3xQ65cknLPk-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    height: 100vh;
    
}

.contact-form {
    /* background-color: black; */

    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 90px;
    margin-left: 150px;
    padding: 20px;
}

.input label {
    color: black;
    size: 50px;
}

.input input {
    font-size: 28px;
    border: 1px solid black;
    border-radius: 8px;
}