.about-me {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.introduction {
    line-height: 85px;
    margin-left: 50px;
}

.introduction h3 {
    color: white;
    line-height: 45px;
}

.name {
    color: skyblue;
}

.schooling {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schooling .completed {
    text-decoration: underline;
    color: skyblue;
    margin-right: 970px;
}

.schooling .thinkful {
    color: white;
    margin-top: 25px;
}

.schooling .thinkful-description {
    color: white;
    margin-top: 15px;
}

.schooling .thinkful-image {
    background-image: url("../assets/MyThinkful.jpg");
    height: 200px;
    width: 400px;
    background-size: cover;
    justify-content: center;
}

.schooling .thinkful-image:hover {
    height: 500px;
    width: 700px;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

.skills {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.skills .skill-intro {
    color: skyblue;
    text-decoration: underline;
}

.icons {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

/* Mobile Devices (415px) */

@media screen and (max-width: 415px) {

    .name {
        line-height: 35px;
        text-align: center;
    }

    .introduction h3 {
        line-height: 35px;
        font-size: 15px;
        text-align: center;
        margin-top: 25px;
    }

    .schooling .completed {
        margin-right: 0px;

    }

   .schooling .thinkful-description {
        font-size: 15px;
        line-height: 35px;
        text-align: center;
   }

   .icons {
    display: block;
   }
}

/* Tablet Devices */
@media screen and (max-width: 915px) {
    .name {
        text-align: center;
        font-size: 45px;
    }

    .introduction h3 {
        text-align: center;
        font-size: 30px;
    }

    .schooling .completed {
        margin-right: 0px;
        font-size: 45px;
    }

    .schooling .thinkful {
        font-size: 36px;
    }

    .schooling .thinkful-description {
        text-align: center;
        font-size: 30px;
    }

  .icons {
    display: block;
  }
}
